@import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Pattaya', sans-serif;
}

.heading{
    margin: 6.5rem;
    font-size: 17px;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
}
body {
    /* background-color: rgba(0,0,0,0.5); */
    background-image: url(img/background.jpeg);

}

.container {
    width: 40%;
    /* background-color: crimson; */
    background-color: rgba(229, 230, 230, 0.978);
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0 20px 25px rgba(226, 156, 63, 0.25);
    border-radius: 8px;
    font-size: 18px;
    display: flex;
}

.input_box {
    width: 51%;
    padding: 1rem;
    /* margin-left: 95px;
    margin-bottom: 42px; */
}

label {
    font-size: 22px;
    font-weight: 600;
    /* border: 2px dashed #e9e5e5; */
    border-radius: 3px;
}

input {
    width: 100%;
    height: 35px;
    border-radius: 9px;
    border: 2px solid black;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
}

input:focus {
    /* border: 2px solid #d2d2d2; */
    background-color: #eae5e5;
}