@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@300&family=Be+Vietnam+Pro:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    /* font-family: 'Barlow Semi Condensed', sans-serif; */
    font-family: 'Bruno Ace', cursive;
}

.wrapper{ 
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container{
    /* background-image: url(img/back.png); */
    background-color: rgba(229, 230, 230, 0.978);
}

.nav{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-left: 3rem;
    /* background-color: #f5b143b1; */
    top: 0;
    position: sticky;
    align-items: center;
    justify-content: center;
    border-bottom: 0.9px solid crimson;
}

.nav-left{
  width: 25%;
  font-family: 'Bruno Ace', cursive;
  font-weight: bold;
}

.nav-left span{
    font-size: 60px;
    color: crimson;
}

.nav-left p{
    font-size: 40px;
    color: rgb(255, 153, 0);
}

.nav-right{
    width: 50%;
    align-items: baseline;
}

.nav-right ul{
    display: flex;
    gap: 2rem;
    text-align: center;
}

.nav-right ul li{
    list-style: none;
    text-align: right;
    transition: 0.5s ease;
}

.nav-right ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    color: crimson;
}

.nav-right ul li a:hover{
    border-bottom: 3px solid crimson;
}

.btn-div{
    width: 20%;
    text-align: right;
    margin: auto;
}

.btn{
    padding: 6px;
    font-size: 16px;
    font-weight: bold;
    color: crimson;
    opacity: 0.8;
    border: 2px solid crimson;
    border-radius: 12px;
    cursor: pointer;
    font-family: 'Bruno Ace', cursive;
}

.btn:hover{
    color: crimson;
    opacity: 1;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-left{
    width: 46%;
}

.hero-left h3{
    margin: 5px;
    font-size: 37px;
    color: crimson;
}

.hero-left p{
    padding: 10px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(88, 75, 78);
    word-spacing: 3px;
}

.hero-left h4{
    padding: 10px;
    font-size: 23px;
    color: rgb(88, 75, 78);
    font-family: 'Bruno Ace', cursive;
    word-spacing: 3px;
    
}

.hero-left h4 span{
    font-size: 24px;
    color: rgb(255, 152, 25);
}

.hero-right{
    width: 46%;
    float: right;
}    

.hero-right img{
    width: 90%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

footer{
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    background-color: black;
    /* border: 0.5px solid crimson; */
}

.footer-text{
    padding: 1rem;
    color: white;
    text-align: center;
    align-items: center;
}