@media (max-width:1300px){
    .page-header{
        padding-top: 30px;
        color: var(--bgOrange);
        text-align: center;
        font-size: 40px;
    }

    .project-container{
        padding: 5px;
        margin: 10px;
        gap: 60px;
    }

    .project-card{
        width: 100%;
        height: 300px;
        background-size: cover;
        background-position: center;
    }

    .project-content{
        scale: 0.5;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
    }

    .project-content-left{
        left: 0;
    }

    .project-heading{
        font-size: 40px;
        width: 100%;
    }

    .project-sub-heading{
        width: 100%;
    }

    #project2{
        margin-left: 0;
    }

    #project4{
        margin-left: 0;
    }

    .project-skill-container{
        width: 100%;
    }

    .project-skill{
        width: 35px;
    }

    .project-card:hover .project-number{
        scale: 0.55;
    }
}